.divStyle{
    position:relative;
    margin: auto;
    width:35%;
}

.divLottie{
    position: relative;
    margin: auto;
    width:15%;
}

.dropdown{
    position: relative;
    margin: 5%;
}

.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
}