
.finishLottieStyle{
    position: relative;
    margin: auto;
    width:30%;
    }

.gameOver{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:18px;
}
.point{  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:14px;
}