.lotties{
  display: label;
  grid-template-columns: auto auto;
  margin-top:2% ;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px){
  .lotties{
    display: grid;
    grid-template-columns: auto;
  }
}
.timeLottieStyle{
  position: relative;
  margin: auto;
  width:35%;
}

.gameOverLottieStyle{
  position: relative;
  margin: auto;
  width:30%;
}

.finishLottieStyle{
  position: relative;
  margin: auto;
  width:30%;
}